@import '../../../../styles/sass/variables.scss';
@import '../../../../styles/sass/mixins.scss';

.post {
  @include contentBlock($gap: 30px);
  flex-direction: column;

  .postHeader {
    position: relative;
    display: grid;
    grid-template-areas: 'a n' 'a d';
    width: max-content;

    @media (max-width: 576px) {
      gap: 20px;
    }

    .photoLink,
    .nameLink {
      text-decoration: none;
    }

    .photoLink {
      grid-area: a;

      .photo {
        margin-right: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @media (max-width: 576px) {
          margin-right: 0;
          width: 50px;
          height: 50px;
        }
      }
    }

    .nameLink {
      .name {
        grid-area: n;
        @include text($fontSize: 18px);

        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    .date {
      grid-area: d;
      display: flex;
      gap: 15px;
      margin-top: -20px;
      @include text($fontSize: 12px, $lineHeight: 16px);
    }
  }

  .message {
    @include text($fontSize: 20px, $fontWeight: 400);
  }

  .reactions {
    display: flex;
    gap: 30px;

    .reactionItem {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 700;

      &.light {
        color: $textColor;
      }

      &.dark {
        color: $textColorDarkTheme;
      }

      .reactionIcon {
        width: 25px;
        cursor: pointer;

        &.dark * {
          fill: $textColorDarkTheme;
        }

        @include hover-supported() {
          &:hover * {
            fill: $mainSecondColor;
          }
        }
      }
    }
  }

  .deletePost {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 18px;
    opacity: 0.5;
    cursor: pointer;

    &.dark * {
      fill: $textColorDarkTheme;
    }

    @include hover-supported() {
      opacity: 1;
    }
  }

  .deletingPost {
    @extend .deletePost;
    width: 60px;
    height: 60px;
    cursor: auto;

    @include hover-supported() {
      opacity: 0.5;
    }
  }
}