@import '../../../../styles/sass/variables';
@import '../../../../styles/sass/mixins';

.form {
  @include contentBlock($gap: 18px);
  flex-direction: column;

  .messageBlock {
    display: flex;
    gap: 18px;

    .userPhoto {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    :nth-child(2) {
      flex-grow: 1;
    }

    .message {
      padding: 15px;
      width: 100%;
      min-height: 120px;
      resize: none;
      @include text();
      border: none;
      outline: none;
      border-radius: 10px;
      @include scrollbar();
      cursor: auto;

      &.light {
        background: $inputBackground;
      }

      &.dark {
        background: $backgroundSecondColorDarkTheme;

        &::placeholder {
          color: $textColor;
        }
      }

      &::placeholder {
        font-weight: 400;
      }

      &:focus {
        box-shadow: 0 0 0 2px rgba(55, 125, 255, 0.4);
      }
    }
  }

  .button {
    align-self: flex-end;
    @include button();
    white-space: nowrap;

    &:disabled {
      opacity: 0.7;
    }
  }
}