@import './variables';

@mixin text($fontFamily: 'Roboto', $fontSize: 16px, $fontWeight: 500, $lineHeight: 24px, $color: $textColor) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;

  &.light {
    color: $color;
  }

  &.dark {
    color: $textColorDarkTheme;
  }
}

@mixin pageWrapper($display: flex, $flexDirection: column, $gap: 30px, $padding: 30px,
$background: $backgroundSecondColor, $borderRadius: 16px) {
  display: $display;
  flex-direction: $flexDirection;
  gap: $gap;
  padding: $padding;
  border-radius: $borderRadius;
  min-height: calc(100vh - 78px);

  @media (max-width: 768px) {
    padding: 10px;
    gap: 10px;
  }

  &.light {
    background: $background;
  }

  &.dark {
    background: $backgroundSecondColorDarkTheme;
  }
}

@mixin contentBlock($display: flex, $gap: 40px, $padding: 18px, $background: $backgroundColor, $borderRadius: 16px,
$boxShadow: 0 6px 20px rgba(0, 0, 0, 0.04), $backdropFilter: blur(25px)) {
  display: $display;
  gap: $gap;
  padding: $padding;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  backdrop-filter: $backdropFilter;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  &.light {
    background: $background;
  }

  &.dark {
    background: $backgroundColorDarkTheme;
  }
}

@mixin button($padding: 10px 40px, $width: min-content, $color: #ffffff, $background: $mainSecondColor, $border: none, $borderRadius: 8px, $cursor: pointer) {
  padding: $padding;
  width: $width;
  @include text();
  color: $color;
  background: $background;
  border: $border;
  border-radius: $borderRadius;
  cursor: $cursor;

  @media (max-width: 768px) {
    padding: 10px 20px;
  }

  &.light {
    color: $color;
  }

  &:hover {
    background: #4096ff;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(78, 93, 120, 0.3);
    opacity: 0.1;

    &:hover {
      background-color: rgba(78, 93, 120, 0.7);
    }
  }
}