@import './variables';

@mixin text($fontFamily: 'Roboto', $fontSize: 16px, $fontWeight: 500, $lineHeight: 24px) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin contentBlock($display: flex, $gap: 40px, $padding: 18px, $background: #ffffff, $borderRadius: 16px,
$boxShadow: 0 6px 20px rgba(0, 0, 0, 0.04), $backdropFilter: blur(25px)) {
  display: $display;
  gap: $gap;
  padding: $padding;
  background: $background;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  backdrop-filter: $backdropFilter;
}

@mixin button($padding: 10px 40px, $width: min-content, $color: #ffffff, $background: $mainSecondColor, $border: none, $borderRadius: 8px, $cursor: pointer) {
  padding: $padding;
  width: $width;
  @include text();
  color: $color;
  background: $background;
  border: $border;
  border-radius: $borderRadius;
  cursor: $cursor;

  &:hover {
    filter: contrast(200%);
  }
}