$textColor: #4e5d78;
$textColorDarkTheme: #ffffff;
$mainSecondColor: #377dff;
$backgroundColor: #ffffff;
$backgroundColorDarkTheme: #191c21;
$backgroundSecondColor: linear-gradient(0deg, rgba(78, 93, 120, 0.03), rgba(78, 93, 120, 0.03)), #ffffff;
$backgroundSecondColorDarkTheme: #212833;
$inputBackground: linear-gradient(0deg, rgba(78, 93, 120, 0.05), rgba(78, 93, 120, 0.05)), #ffffff;