@import '../../styles/sass/mixins';

.main {
  @include pageWrapper();
  height: calc(100vh - 78px);

  @media (max-width: 768px) {
    height: unset;
  }

  .usersList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow-y: scroll;
    @include scrollbar();

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 768px) {
      overflow-y: auto;
      gap: 10px;
    }
  }

  .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include text();
    font-size: 24px;
    font-weight: 700;
  }
}