@import '../../../../styles/sass/variables';
@import '../../../../styles/sass/mixins';

.messageBlock {
  display: flex;
  gap: 20px;

  .photo {
    align-self: flex-end;
    width: 60px;
    border-radius: 50%;
  }

  .messageContent {
    position: relative;
    padding: 10px 18px;
    width: max-content;
    max-width: 600px;
    @include text($fontWeight: 400);
    background: rgba(78, 93, 120, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px 10px 10px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 100%;
      display: block;
      width: 30px;
      height: 30px;
      background: radial-gradient(60px at top left, transparent 49%, rgba(78, 93, 120, 0.1) 51%) no-repeat right bottom;
    }

    .messageText {
      word-wrap: break-word;
    }

    .messageDate {
      position: absolute;
      left: 0;
      top: calc(100% + 6px);
      display: flex;
      gap: 10px;
      @include text($fontSize: 12px, $lineHeight: 18px, $color: rgba(78, 93, 120, 0.6));
      white-space: nowrap;
    }

    .deleteMessage {
      position: absolute;
      top: 4px;
      left: calc(100% + 10px);
      width: 12px;
      height: 12px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .deletingMessage {
      @extend .deleteMessage;
      top: 0;
      width: 60px;
      height: 60px;
      cursor: auto;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.ownerMessageBlock {
  @extend .messageBlock;
  flex-direction: row-reverse;

  .messageContent {
    @extend .messageContent;
    color: #ffffff;
    background: $mainSecondColor;
    border-radius: 10px 10px 0 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100%;
      display: block;
      width: 30px;
      height: 30px;
      background: radial-gradient(60px at top right, transparent 49%, $mainSecondColor 51%) no-repeat left bottom;
    }

    .messageText {
      @extend .messageText;
    }

    .messageDate {
      @extend .messageDate;
      left: unset;
      right: 0;
    }

    .deleteMessage {
      @extend .deleteMessage;
      left: unset;
      right: calc(100% + 10px);
    }
  }

  .eyeIcon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    opacity: 0.7;
  }
}