.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    padding: 10px;
    font-weight: 700;
    color: darkred;
    border: 1px solid red;
}
