.formControl.error input,
.formControl.error textarea {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.6);
}

.formControl.error span {
    display: block;
    margin-top: 6px;
    color: darkred;
}

.formSummaryError {
    padding: 10px;
    font-weight: 700;
    color: darkred;
}
