.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    display: block;
    margin-top: 6px;
    color: red;
}

.formSummaryError {
    padding: 10px;
    font-weight: 700;
    color: darkred;
}
