@import '../../../../styles/sass/mixins';

.messagesListHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 18px;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    gap: 10px;
  }

  @media (max-width: 768px) {
    padding: 0 0 10px 0;
  }

  &.light {
    border-bottom: 1px solid rgba(78, 93, 120, 0.2);
  }

  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .userPhoto {
    width: 70px;
    border-radius: 50%;
  }

  .userInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    max-width: 70%;

    @media (max-width: 1200px) {
      height: 70px;
    }

    @media (max-width: 768px) {
      justify-content: space-around;
    }

    .userName {
      @include text($fontSize: 20px);
      text-decoration: none;
    }

    .userActivity {
      @include text($fontSize: 14px, $lineHeight: 18px);
      opacity: 0.6;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-width: 768px) {
      justify-content: space-between;
    }

    .backIcon {
      width: 40px;
      cursor: pointer;

      @media (min-width: 769px) {
        display: none;
      }

      &.dark * {
        fill: $textColorDarkTheme;
      }
    }
  }
}