@import '../../../styles/sass/mixins';

.messagesList {
  @include contentBlock($gap: 20px);
  flex-direction: column;
  width: 100%;

  .messagesListBodyWrapper {
    flex-grow: 1;
    overflow-y: scroll;
    @include scrollbar();

    .messagesListBody {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 48px;
      min-height: 100%;
      padding-right: 20px;
    }
  }
}