@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.messagesList {
  @include contentBlock($gap: 20px);
  flex-direction: column;
  width: 100%;

  @media (max-width: 768px) {
    gap: 10px;
    width: calc(100vw - 20px);
    padding: 10px;
  }

  .messagesListBodyWrapper {
    flex-grow: 1;
    padding-right: 20px;
    overflow-y: scroll;
    @include scrollbar();

    @media (max-width: 768px) {
      padding-right: 0;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .messagesListBody {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 48px;
      min-height: 100%;
    }
  }

  .preloaderIcon {
    &.dark * {
      stroke: $textColorDarkTheme;
    }
  }
}