@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.user {
  @include contentBlock($gap: 20px);
  word-break: break-word;

  .userPhoto {
    width: 120px;
    border-radius: 50%;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .userName {
      @include text($fontSize: 18px);
      text-decoration: none;
    }

    .userStatus {
      @include text($fontSize: 14px, $lineHeight: 18px);
      opacity: 60%;
    }

    .followButton, .unfollowButton {
      @include button($padding: 6px 20px);
      align-self: flex-end;
      width: 70%;
      max-width: 150px;
      border: 1px solid #ffffff;
    }

    .unfollowButton {
      color: $textColor;
      background: none;
      border: 1px solid $textColor;

      &:hover {
        color: #4096ff;
        border: 1px solid #4096ff;
        background: none;
      }
    }
  }
}