@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.user {
  @include contentBlock($gap: 20px);
  word-break: break-word;

  @media (max-width: 992px) {
    flex-direction: row;
  }

  .userPhoto {
    width: 120px;
    border-radius: 50%;

    @media (max-width: 576px) {
      width: 100px;
    }
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .userName {
      @include text($fontSize: 18px);
      text-decoration: none;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    .userStatus {
      @include text($fontSize: 14px, $lineHeight: 18px);
      opacity: 60%;
    }

    .followButton, .unfollowButton {
      @include button($padding: 6px 20px);
      align-self: flex-end;
      max-width: 150px;
      border: 1px solid transparent;

      @media (max-width: 576px) {
        padding: 6px 10px;
        font-size: 14px;
      }
    }

    .unfollowButton {
      background: none;

      &.light {
        color: $textColor;
        border: 1px solid rgba(78, 93, 120, 0.4);
      }

      &.dark {
        color: $textColorDarkTheme;
        border: 1px solid $textColorDarkTheme;
      }

      @include hover-supported() {
        color: #4096ff;
        border: 1px solid #4096ff;
        background: none;
      }
    }
  }
}