@import '../../../../styles/sass/variables';
@import '../../../../styles/sass/mixins';

.profileData {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &.light {
    color: $textColor;
  }

  &.dark {
    color: $textColorDarkTheme;
  }

  .editButton {
    position: absolute;
    top: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    cursor: pointer;

    @media (max-width: 768px) {
      left: unset;
      right: 0;
    }

    &.dark * {
      fill: $textColorDarkTheme;
    }

    @include hover-supported() {
      opacity: 1;
    }
  }

  .fullName {
    font-size: 32px;
  }

  .infoList {
    list-style-type: none;
    @include text($lineHeight: 30px);

    .itemTitle {
      font-weight: 700;
    }

    .contactsList {
      list-style-type: none;
      padding: 0 20px;
    }
  }
}

.noInfo {
  font-style: italic;
}