@import "../../../../styles/sass/variables";
@import "../../../../styles/sass/mixins";

.uploadWrapper {
  position: absolute;
  right: 16px;
  bottom: 16px;

  @media (max-width: 576px) {
    right: 10px;
    bottom: 10px;
  }

  .input {
    display: none;
  }

  .uploadIconBlock {
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;

    &.light {
      background: $backgroundColor;
    }

    &.dark {
      background: $backgroundColorDarkTheme;
    }

    .icon {
      width: 30px;
      height: 30px;

      &.dark * {
        fill: $textColorDarkTheme;
      }

      @include hover-supported() {
        &:hover * {
          fill: $mainSecondColor;
        }
      }
    }
  }
}