@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.searchPanel {
  display: flex;
  align-items: center;
  gap: 40px;

  .search {
    position: relative;
    flex-grow: 1;

    .input {
      padding: 10px 46px;
      width: 100%;
      @include text();
      border-radius: 10px;
      border: 1px solid rgba(78, 93, 120, 0.4);
      outline: none;
      transition: all 0.3s, height 0s;

      &::placeholder {
        font-weight: 400;
      }

      &:focus {
        border: 1px solid transparent;
        box-shadow: 0 0 0 2px rgba(55, 125, 255, 0.4);
      }
    }

    .searchIcon {
      position: absolute;
      top: 15px;
      left: 20px;
    }

    .xmarkIcon {
      position: absolute;
      top: 12px;
      right: 20px;
      width: 16px;
      cursor: pointer;

      &:hover * {
        fill: $mainSecondColor;
      }
    }
  }

  .onlyFollowed {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;

    input {
      appearance: none;
      padding: 0;
      width: 22px;
      height: 22px;
      border: 1px solid rgba(78, 93, 120, 0.4);
      border-radius: 4px;
      background-position: center;
      background-size: 90%;
      background-repeat: no-repeat;
      cursor: pointer;

      &:checked {
        background-color: $mainSecondColor;
        background-image: url('../../../assets/icons/checked.svg')
      }
    }

    span {
      @include text();
    }
  }
}
