@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.header {
  display: flex;
  justify-content: space-between;
  grid-area: h;
  padding: 20px 18px;

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $textColor;
    font-family: Garde, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    text-decoration: none;

    .logo {
      width: 46px;
      height: 46px;
    }
  }
}

.authBlock {
  display: flex;
  align-items: center;
  gap: 10px;

  &__login {
    @include text();
    text-decoration: none;

    &:hover {
      color: #377dff;
    }
  }

  &__photo {
    width: 42px;
    height: 42px;
    border-radius: 10px;

    &:hover {
      box-shadow: 0 0 0 2px rgba(55, 125, 255, 1);
    }
  }

  &__logOut {
    background: none;
    border: none;
    cursor: pointer;

    &:hover * {
      fill: #377dff;
    }
  }

  * {
    transition: 0.3s;
  }
}