@import '../../styles/sass/mixins';

.nav {
  grid-area: n;
  padding: 10px 20px;

  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    backdrop-filter: blur(20px);
  }

  .mainList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }

    .item {
      display: flex;
      list-style-type: none;

      .link {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 20px;
        width: 100%;
        @include text();
        text-decoration: none;
        border-radius: 10px;

        @media (max-width: 768px) {
          flex-direction: column;
          padding: 10px;
          font-size: 14px;
        }

        span {
          @media (max-width: 576px) {
            display: none;
          }
        }

        .icon {
          width: 16px;
          height: 16px;

          @media (max-width: 768px) {
            width: 26px;
            height: 26px;
          }

          &.dark * {
            fill: $textColorDarkTheme;
          }
        }

        &.active {
          color: #ffffff;
          background: linear-gradient(0deg, #4e5d78, #4e5d78), #ffffff;

          .icon * {
            fill: #ffffff;
          }
        }

        .newMessagesCount {
          padding: 4px 6px;
          font-size: 12px;
          line-height: 18px;
          color: #ffffff;
          background: #ff5630;
          border-radius: 4px;
        }
      }
    }
  }
}