@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding-right: 20px;
  overflow-y: scroll;
  @include scrollbar();
}