@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.profileInfo {
  @include contentBlock($padding: 18px 38px 18px 18px);

  .photoButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .imageBlock {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      .mainPhoto {
        width: 280px;
        border-radius: 50%;
      }

      .uploadWrapper {
        position: absolute;
        right: 16px;
        bottom: 16px;

        .input {
          display: none;
        }

        .uploadIconBlock {
          padding: 7px;
          background: #ffffff;
          border-radius: 50%;
          cursor: pointer;

          .icon {
            width: 30px;
            height: 30px;

            &:hover * {
              fill: $mainSecondColor;
            }
          }
        }
      }
    }

    .followButton, .unfollowButton, .writeMessageButton {
      @include button();
      width: 100%;
      border: 1px solid transparent;

      &:disabled {
        opacity: 0.5;
      }
    }

    .unfollowButton {
      color: $textColor;
      background: none;
      border: 1px solid rgba(78, 93, 120, 0.4);

      &:hover {
        color: #4096ff;
        border: 1px solid #4096ff;
        background: none;
      }
    }
  }
}