.descriptionBlock {
    display: flex;
    gap: 40px;
    padding: 10px;
}

.imageBlock {
    display: flex;
    flex-direction: column;
}

.mainPhoto {
    max-width: 300px;
    border-radius: 50%;
}