@import "../../../styles/sass/variables";
@import "../../../styles/sass/mixins";

.descriptionBlock {
  @include contentBlock($padding: 18px 38px 18px 18px);

  .imageBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .mainPhoto {
      width: 280px;
      border-radius: 50%;
    }

    .uploadWrapper {
      position: absolute;
      right: 16px;
      bottom: 16px;

      .input {
        display: none;
      }

      .uploadIconBlock {
        padding: 7px;
        background: #ffffff;
        border-radius: 50%;
        cursor: pointer;

        .icon {
          width: 30px;
          height: 30px;

          &:hover * {
            fill: $mainSecondColor;
          }
        }
      }
    }
  }
}