@import "../../../styles/sass/variables";

.descriptionBlock {
  display: flex;
  gap: 40px;
  padding: 18px 38px 18px 18px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(25px);

  .imageBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .mainPhoto {
      width: 280px;
      border-radius: 50%;
    }

    .uploadWrapper {
      position: absolute;
      right: 16px;
      bottom: 16px;

      .input {
        display: none;
      }

      .uploadIconBlock {
        padding: 7px;
        background: #ffffff;
        border-radius: 50%;
        cursor: pointer;

        .icon {
          width: 30px;
          height: 30px;

          &:hover * {
            fill: $mainSecondColor;
          }
        }
      }
    }
  }
}