@import '../../../../../styles/sass/variables';

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  text-decoration: none;
  color: $textColor;

  &:hover, &:hover * {
    color: $mainSecondColor;
    fill: $mainSecondColor;
  }
}