@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/mixins';

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  text-decoration: none;

  &.light {
    color: $textColor;
  }

  &.dark {
    color: $textColorDarkTheme;

    & * {
      fill: $textColorDarkTheme;
    }
  }

  @include hover-supported() {
    &:hover, &:hover * {
      color: $mainSecondColor;
      fill: $mainSecondColor;
    }
  }
}