@import '../../styles/sass/mixins';

.news {
  @include pageWrapper();
  height: calc(100vh - 78px);
  gap: 20px;
  overflow-y: scroll;
  @include scrollbar();

  @media (max-width: 768px) {
    gap: 10px;
  }
}