@import './styles/sass/variables';

.app-wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 78px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;

  @media (max-width: 768px) {
    grid-template-areas: 'h h' 'c c';
    padding-bottom: 100px;
  }

  @media (max-width: 576px) {
    padding-bottom: 60px;
  }

  &.light {
    background: $backgroundColor;
  }

  &.dark {
    background: $backgroundColorDarkTheme;
  }

  &__content {
    grid-area: c;
  }
}

.ant-modal-footer {
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}