.app-wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 78px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
  min-height: 100vh;

  &__content {
    grid-area: c;
    background: yellow;
  }
}