@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .fieldWrapper {
    display: flex;
    flex-direction: column;

    .fieldTitle {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 700;

      &.light {
        color: $textColor;
      }

      &.dark {
        color: $textColorDarkTheme;
      }
    }

    input {
      width: 100%;
      padding: 15px;
      @include text();
      border: 1px solid rgba(78, 93, 120, 0.2);
      outline: none;
      border-radius: 10px;
      transition: all 0.3s, height 0s;

      &::placeholder {
        font-weight: 400;
      }

      &:focus {
        border: 1px solid transparent;
        box-shadow: 0 0 0 2px rgba(55, 125, 255, 0.4);
      }
    }
  }

  .rememberMe, .acceptOffer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    max-width: 100%;
    @include text();

    .checkbox {
      appearance: none;
      padding: 0;
      width: 22px;
      height: 22px;
      border-radius: 4px;
      background-color: transparent;
      background-position: center;
      background-size: 90%;
      background-repeat: no-repeat;
      cursor: pointer;

      &.light {
        border: 1px solid rgba(78, 93, 120, 0.2);
      }

      &.dark {
        border: 1px solid #ffffff;
      }

      &:checked {
        background-color: $mainSecondColor;
        background-image: url('../../../assets/icons/checked.svg')
      }

      &:focus {
        box-shadow: none;
      }
    }
  }


  button {
    @include button();
    width: 100%;
  }

  .signUpBlock, .signInBlock {
    display: flex;
    justify-content: center;
    gap: 16px;
    @include text();
    white-space: nowrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: $mainSecondColor;
    }
  }
}